@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar-brand img{
    width: 50px;
}

#cover{
    height: 100vh;
    position: relative;
}
#cover .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    color: white;
}
#cover .slider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lightSlider{
    height: 100%;
}
.lSSlideOuter, .lSSlideWrapper, .lightSlider, .lslide {
    height: 100% !important;
}
.lslide{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.lslide img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

h2.section-title{
    margin-bottom: 30px;
    position:relative;
}
h2.section-title::after{
    content: "";
    position: absolute;
    background-color:rgb(255, 145, 0);
    width:70px;
    height:3px;
    bottom: -10px;
    left:0;

}

.card{
    border: 0;
    box-shadow: 3px 3px 20px 3px #00000010;
}
.card-img-full{
    width:100%;
    border-radius:calc(.25rem - 1px);
}
.card .card-body table tr td{
    padding: 10px;
}
.card .card-body table{
    margin-left: -10px;
    margin-right: -10px;
}

.subs{
    border-radius: 4px;
    padding: 5rem;
    box-shadow: 3px 3px 20px 3px #00000010;
}

.lokasi iframe{
    width:100%;
    height: 350px;
}

footer {
    background-color: rgb(24, 24, 24);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

